body {
  background-color: #dddddd;
  background-image: url(sunset.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

h1 {color:blue;font-size:50px}
h2 {color:green;
  font-family:cursive;
  font-variant: small-caps;
}
p {font-family: verdana;
}
ul {border: 5px solid purple; width: 200px}
#lamp{border: 2px solid tan; width: 200px}
.nobody {font-style:italic;
}

.box {
width: 400px;
height: 400px;
background-color: blue;
}
.box p {
  color: white;
}

.tree {
  background-color: darkgreen;
  font-weight: bold;
  font-size: 30px;

}
